footer {
  width: 100%;
}
.footer {
  width: 99%;
  height: 250px;
  background: rgb(41, 40, 40);
  @include column;

  h2 {
    font-family: $shrikhand;
    font-weight: bold;
    font-style: italic;
    color: white;
    letter-spacing: 1px;
    text-align: center;
  }

  ul {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      list-style: none;
      font-family: $roboto;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
