footer {
  width: 100%;
  height: 25vh;
}
.footer {
  width: 100%;
  height: 100%;
  background: rgb(41, 40, 40);
  @include column;

  h2 {
    font-family: $shrinkhand;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      list-style: none;
      color: white;
      font-family: $roboto;
    }
  }
}
