.header {
  width: 100%;
  height: 60px;
  box-shadow: 1px 3px 5px 0px rgba(181, 179, 179, 0.75);
  padding: 20px;

  h1 {
    text-align: center;
    font-family: $shrinkhand;
    font-weight: bold;
    font-style: italic;
  }
}
