.load_spinner {
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  @include load;

  .load_spinner--element {
    width: 18%;
    height: 10%;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    opacity: 1.5;
    z-index: 2000;

    .load_spinner--element--ball-green {
      width: 28%;
      height: 28%;
      border-radius: 50%;
      background: #05cc9a;
      position: absolute;
      top: 4px;
      left: -2px;
    }
    .load_spinner--element--ball-purple {
      width: 28%;
      height: 28%;
      border-radius: 50%;
      background: rgb(104, 1, 104);
      position: absolute;
      top: 5px;
      right: -4px;
    }
    .load_spinner--element--ball-pink {
      width: 28%;
      height: 28%;
      border-radius: 50%;
      background: rgb(253, 114, 137);
      position: absolute;
      top: 87%;
      left: 36%;
    }
  }
}

.position {
  width: 100%;
  background: rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  font-family: $roboto;
  i {
    margin-right: 10px;
  }
}

/*Presentation*/

.presentation {
  width: 100%;
  @include column;
  background: rgb(245, 245, 245);
  padding-bottom: 20px;
  font-family: $roboto;

  .presentation--titre {
    @include titre;
  }

  p {
    font-size: 20px;
  }

  a {
    @include button;
    font-weight: 700;
  }
}

/*Fonctionnement*/

.fonctionnement {
  width: 100%;
  height: auto;
  margin-bottom: 80px;

  .fonctionnement--titre {
    width: 100%;
    text-align: center;
    @include titre;
  }

  .fonctionnement--etapes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .etapes {
      width: 20%;
      a {
        width: 100%;
        border-radius: 20px;
        font-weight: 700;
        padding: 5px;
        color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: rgb(245, 245, 245);
        cursor: pointer;
        font-family: $roboto;

        i {
          font-size: 22px;
          color: gray;
        }
        &:hover {
          background: #9256dc5e;
          transition: 0.5s;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          i {
            color: $primaire;
          }
        }
      }
    }
  }

  .un::after {
    @include after("1");
  }

  .deux::after {
    @include after("2");
  }

  .trois::after {
    @include after("3");
  }
}

/*Restaurant*/
.restaurant {
  width: 95%;
  padding: 2%;
  height: auto;
  background: rgb(245, 245, 245);

  .restaurant--titre {
    width: 86%;
    text-align: center;
    margin: 10px auto;
    @include titre;
  }
  .restaurant--produits {
    display: grid;
    padding: 45px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 35%;
    row-gap: 5%;
    justify-content: space-around;
    align-items: center;
  }
}
.restaurant--card a {
  width: 80%;
  color: black;
  text-decoration: none;
  height: 45vh;
  margin: 10% auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 1px 3px 5px 0px rgba(181, 179, 179, 0.75);

  .icon-card {
    position: relative;

    i {
      font-size: 28px;
    }

    .fas {
      position: absolute;
      left: 1%;
      background: -webkit-linear-gradient(
        rgba(147, 86, 220, 1) 0%,
        rgba(255, 121, 218, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      transition: 0.2s ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
  .nouveau {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: 5%;
    right: 2%;
    text-align: center;
    background: #99e2d0;

    p {
      color: rgb(11, 139, 11);
      margin: 10px auto;
      font-family: $roboto;
      font-weight: bold;
      font-size: 17px;
    }
  }
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  .description-card {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 85% 15%;

    align-items: center;
    gap: 10px;

    .texte-card {
      padding-left: 15px;

      .titre-card {
        @include titre;
      }
    }
  }
}
