.container {
  width: 100vw;
  margin-bottom: 190vh;

  img {
    width: 100%;
    height: 750px;
    position: relative;
    object-fit: cover;
  }

  .menu {
    width: 80%;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    padding: 50px;
    top: 70%;
    left: 8%;
    background-color: rgba(246, 246, 246, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    .menu--titre {
      width: 75%;
      margin-left: 25%;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      align-items: center;
      h1 {
        font-size: 35px;
        font-family: $shrikhand;
      }
      .menu--icon-card {
        position: relative;

        i {
          font-size: 28px;
        }

        .fas {
          position: absolute;
          left: 1%;
          background: -webkit-linear-gradient(
            rgba(147, 86, 220, 1) 0%,
            rgba(255, 121, 218, 1) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
          transition: 0.2s ease;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .categorie {
      width: 90%;
      margin: 2px auto;

      .categorie--titre {
        width: 40px;
        font-size: 19px;
        text-transform: uppercase;
        border-bottom: 3px solid green;
      }
      .categorie--plats {
        display: flex;
        gap: 60px;
        overflow: hidden;
        height: 70px;
        background: #ffff;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &:nth-child(1) {
          animation: anim 0.2s ease;
          @include anim_one;
        }
        &:nth-child(2) {
          animation: anim 0.7s ease;
          @include anim_one;
        }
        &:nth-child(3) {
          animation: anim 0.7s ease;
          @include anim_one;
        }
      }
      .categorie--texte_plats {
        display: flex;
        width: 60%;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px 14px 5px;
      }

      .categorie--nom_plats {
        font-family: $roboto;
        font-size: 17px;
        font-weight: bold;
      }
      .categorie--prix_plats {
        width: 30%;
        font-size: 17px;
        font-weight: bold;
        display: flex;
        p {
          padding-top: 20%;
        }

        .categorie--valide {
          width: 100%;
          background-color: $tertiaire;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 20px;
            color: #ffff;
          }
        }
      }

      .categorie--details_plats {
        //a suprimer html css
        display: flex;
        justify-content: space-between;
      }
    }
    .button {
      margin: 5% 45% 5% 45%;
      a {
        width: 30%;

        text-decoration: none;
        @include button;
        padding: 15px 45px 15px 45px;
        border-radius: 25px;
      }
    }
  }
}
