.container {
  width: 100vw;
  margin-bottom: 190vh;

  img {
    width: 100%;
    height: 750px;
    position: relative;
    object-fit: cover;
  }

  .menu {
    width: 60%;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    padding: 50px;
    top: 70%;
    left: 17%;
    background-color: rgba(246, 246, 246, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    .menu--titre {
      width: 75%;
      margin-left: 12%;
      margin-bottom: 70px;
      display: flex;
      justify-content: space-between;

      align-items: center;
      h2 {
        letter-spacing: 2px;
        font-size: 40px;
        font-family: $shrikhand;
      }
      .menu--icon-card {
        position: relative;

        i {
          font-size: 28px;
        }

        .fas {
          position: absolute;
          left: 1%;
          background: -webkit-linear-gradient(
            rgba(147, 86, 220, 1) 0%,
            rgba(255, 121, 218, 1) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
          transition: 0.2s ease;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .categorie--details_plats {
      //a suprimer html css
      display: flex;
      justify-content: space-between;
    }
  }

  .button {
    margin: 5% 45% 5% 45%;
    a {
      width: 30%;

      text-decoration: none;
      @include button;
      padding: 15px 45px 15px 45px;
      border-radius: 25px;
    }
  }

  .categorie {
    width: 70%;
    margin: 2px auto;
    @include anim_one;

    .categorie--titre {
      width: 40px;
      font-size: 19px;
      text-transform: uppercase;
      border-bottom: 3px solid $tertiaire;
    }
    .categorie--plats {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      height: 110px;
      background: #ffff;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      cursor: pointer;

      &:hover {
        .categorie--prix_plats {
          transition: 0.9s;
          width: 23%;
        }
        .categorie--texte_plats {
          transition: 0.7s;
          width: 60%;

          p,
          span {
            transition: 0.5s;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $roboto;
          }
        }
        .categorie--valide {
          transition: 0.9s;
          transform: translateX(53px);
        }

        @include anim_icon;
      }
    }
    .categorie--texte_plats {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;
      padding: 1px 0px 20px 15px;

      span {
        font-size: 18px;
      }
    }

    .categorie--nom_plats {
      font-family: $roboto;
      font-size: 20px;
      font-weight: bold;
    }
    .categorie--prix_plats {
      font-size: 17px;
      font-weight: bold;
      display: flex;
      gap: 10px;

      p {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .categorie--valide {
        width: 50%;
        background-color: $tertiaire;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(80px);

        i {
          font-size: 25px;
          color: #ffff;
        }
      }
    }
  }
}
