@media screen and (max-width: 821px) {
  .container {
    margin-bottom: 138vh;
    img {
      width: 100%;
      height: 400px;
    }

    .menu {
      width: 87%;
      top: 35%;
      left: 3px;
    }

    .categorie {
      width: 100%;
    }

    .button {
      margin: 12% 45% 5% 37%;
    }
  }
}
