@mixin anim_one {
  @for $i from 1 through 4 {
    .categorie--plats:nth-child(#{$i}) {
      animation: anim $i * 0.2s ease-in;
    }

    @keyframes anim {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      25% {
        opacity: 0.2;
      }
      50% {
        opacity: 0.4;
      }
      75% {
        opacity: 0.7;
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

@mixin anim_hover {
  .categorie--prix_plats {
    transition: 0.9s;
    width: 23%;
  }
  .categorie--texte_plats {
    transition: 0.7s;

    width: 60%;

    p,
    span {
      transition: 0.5s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .categorie--valide {
    transition: 0.9s;
    transform: translateX(0px);
  }
}

@mixin anim_icon {
  i {
    transition: 0.9s;
    transform: rotate(-1440deg);
  }
}
